{
  "arrowParens": "avoid",
  "bracketSameLine": false,
  "bracketSpacing": true,
  "importOrder": ["^@core/(.*)$", "^./(.*)$", "^../(.*)$"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "jsxBracketSameLine": false,
  "jsonRecursiveSort": true,
  "printWidth": 100,
  "semi": true,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "es5",
  "useTabs": false
}
