.card {
  border: 1px solid #DDD;
  border-radius: 10px;
  overflow: hidden;
  width: 100%;
}

.card .image {
  object-fit: cover;
  height: 400px;
  width: 400px;
}

.card .user-details {
  display: inline-flex;
  align-items: center;
  padding: 10px;
}

.card .user-details .profile-image {
  height: 40px;
  width: 40px;
  border-radius: 20px;
}
.card .user-details .profile-image-placeholder {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #777;
  color: #EEE;
}

.card .user-details .username {
  margin-left: 10px;
}